.chat-message-wrapper {
  // width: fit-content;
  max-width: 100%;
  position: relative;
  border-radius: 12px;
  padding: 0 1rem;
  // background: #306f7f;
  color: white;
  opacity: 1;
  // animation: slideright 0.5s ease forwards;
  // animation-delay: 0.5s;

  @keyframes slideright {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .color {
    color: rgb(83 194 222);
  }
  .line {
    margin-left: -5px;
    border-right-color: rgb(83 194 222);
    border-right: 7px solid;
  }

  .chat-message-content {
    position: relative;
    min-height: 4rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    $image-size: 40px;
    font-size: 1.2rem;

    .img-wrp {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $image-size;
      height: $image-size;
      // background-color: white;
      border-radius: 100%;

      img {
        width: 100%;
      }
    }
  }
  .typing-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    opacity: 0;
    animation: blink 1s infinite;
  }

  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
}

.flex-end {
  margin-left: auto;
  position: relative;
  background-color: var(--primary-color);

  .chat-message-content {
    flex-direction: row-reverse;
  }

  &::before {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    right: -1.1rem;
    bottom: 2px;
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    clip-path: polygon(0 0, 0 82%, 100% 100%);
  }
}

.right-animation {
  animation: slideleft 0.5s ease forwards;
  opacity: 1;

  @keyframes slideleft {
    from {
      transform: translateX(100%);

      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 0.3 !important;
    }
  }
}

.line {
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  opacity: 0.9;
  border-right: 7px solid;
}

.anim-typewriter {
  animation: blinkTextCursor 1s cubic-bezier(0.4, 0, 1, 1) infinite;
  @keyframes blinkTextCursor {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
